@font-face {
  font-family: Noto Sans;
  src: url('NotoSans-Regular.ttf');
}
@font-face {
  font-family: Noto Sans Linear B;
  src: url('NotoSansLinearB-Regular.ttf');
}

body {background: url('bg.jpg') no-repeat;}

.lbt.overlay {
        position: absolute; /* important */
        top: 0px; /* start from top */
        left: 0px; /* start from left */
        height: 100%; /* cover the whole page */
        width: 100%;  /* cover the whole page */
        display: none; /* don't show it '*/

        /* styling bellow */
        	z-index: 1000;
}

.lbt.window {
	margin-top: 2em;

        display: none; /* don't show it */

        /* styling bellow */
        color: #fff;
	top: 0;

        border: 1px solid gray;
        background: #fff;
        color: black;

	z-index: 1001;

	padding: 5px 30px 10px 30px;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	
	-webkit-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);	
}

.lbt.window label {
	font-size: small;
}

#lexicon,#source {
	height: 200px;
	font-family: "Noto Sans", "Noto Sans Linear B", sans-serif;
}
#destination {
	height:200px;
	font-size:2.5em;
	font-family: "Noto Sans", "Noto Sans Linear B", sans-serif;
}

pre {
	width:400px;
	border: 1px solid black;
	box-shadow: 1px 3px 5px;
	padding: 1em;
	background-color: #F0F0F0;
	font-family: "Noto Sans", "Noto Sans Linear B", sans-serif;
}
h3 {
	margin-bottom: -5px
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: red;
}

span {
}

h4 {
	margin-bottom: -1px
}

div#wrapper {
	width: 800px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
}

input {	font-family: "Noto Sans", "Noto Sans Linear B", sans-serif;}

img#github {
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
		width:10%;
	}

h3#title {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	}

.key {
	font-size:1.5em;
}

